body{

margin:0;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:#eaf4ff;

font-family:Arial;

padding:20px;

}


.container{

width:100%;
max-width:450px;

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 10px 30px #aaa;

text-align:center;

}


h1{

color:#0759c9;

}


#chat{

margin-top:20px;

background:#eef6ff;

padding:15px;

border-radius:15px;

min-height:120px;

font-size:18px;

line-height:1.6;

}



#status{

color:#555;

}



#voiceBtn{


position:fixed;

right:25px;
bottom:25px;


width:70px;
height:70px;


border-radius:50%;

border:none;


background:#0759c9;

color:white;

font-size:30px;


cursor:pointer;


}



@media(max-width:500px){

.container{

padding:18px;

}


#chat{

font-size:16px;

}

}